# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
*.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Vite / TS
.vite
node_modules/.tmp
